<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
<title>{{ configuration['pagetitle'] }} - {{ name }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.default.css') }}">
</head>
<body>
<header>
	<a href="{{ url_for('start') }}"><h1>{{ configuration["pagetitle"] }}</h1></a>
	<h2>{{ configuration["subtitle"] }}</h2>
</header>
<div id="videocontainer">
    <h1>{{ name }}</h1>
    <video id="player" controls>
    </video>
</div>
<script src="{{ url_for('static', filename='hls.min.js') }}"></script>
<script type="application/javascript">
    if (Hls.isSupported()) {
        var video = document.getElementById('player');
        var hls = new Hls();
        hls.loadSource("{{ hls_url }}");
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
                video.play();
        });
    }
</script>
</body>
</html>