<!DOCTYPE html>
<html>
<head>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
<title>{{ configuration['pagetitle'] }} - {{ appname }}: {{ streamname }}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.default.css') }}">
</head>
<body>
<header>
	<a href="{{ url_for('frontend.start') }}"><h1>{{ configuration["pagetitle"] }}</h1></a>
	<h2>{{ configuration["subtitle"] }}</h2>
</header>
<div id="videocontainer">
    <h1>{{ streamname }}</h1>
    <video id="player" controls>
    </video>
</div>
<main>
    <article>
        <h1>URLs</h1>
        <table>
        <tbody>
            <tr>
                <th>Protocol</th>
                <th>URL</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>RTMP</td>
                <td>
                    <input 
                        type="text" class="url" 
                        id="rtmp" 
                        value="rtmp://{{ configuration["rtmp_base"] }}/{{ appname }}/{{ streamname }}">
                </td>
                <td class="btn">
                    <button class="btn" onclick="copy_to_clipboard('rtmp')">Copy</button>
                </td>
                <td class="btn">
                    <a 
                        style="width: 80px;"
                        href="rtmp://{{ configuration["rtmp_base"] }}/{{ appname }}/{{ streamname }}" 
                        class="btn btn-green">
                            &#9654; RTMP
                    </a>
                </td>
            </tr>
            <tr>
                <td>HTTP-FLV</td>
                <td>
                    <input 
                        type="text" class="url" 
                        id="flv"
                        value="{{ configuration["web_proto"] }}://{{ configuration["base_url"] }}/flv?app={{ appname }}&stream={{ streamname }}">
                </td>
                <td class="btn">
                    <button class="btn" onclick="copy_to_clipboard('flv')">Copy</button>
                </td>
                <td class="btn">
                    <a 
                        style="width: 80px;"
                        href="{{ configuration["web_proto"] }}://{{ configuration["base_url"] }}/flv?app={{ appname }}&stream={{ streamname }}"
                        class="btn btn-green">
                            &#9654; HTTP-FLV
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    </article>
</main>
<script src="{{ url_for('static', filename='flv.min.js') }}"></script>
<script type="application/javascript">
    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('player');
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            url: '{{ configuration["web_proto"] }}://{{ configuration["base_url"] }}/flv?app={{ appname }}&stream={{ streamname }}'
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
        flvPlayer.play();
    }
    
    function copy_to_clipboard(elem) {
      textfield = document.getElementById(elem)
      textfield.select()
      navigator.clipboard.writeText(textfield.value)
    }
</script>
</body>
</html>
