<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
        <title>{{ configuration['pagetitle'] }} - Stream Overview</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.default.css') }}">
    </head>
<body>
<header>
    <a href="{{ url_for('frontend.start') }}"><h1>{{ configuration["pagetitle"] }}</h1></a>
	<h2>{{ configuration["subtitle"] }}</h2>
</header>
<main>
    <article>
    <h1>
        Setup Helper
    </h1>
    <p>
        This tool should help you with the setup of OBS for use with zomstream
    </p>
    <form id="settingsform">
        <label for="application">selected application</label>
        <select name="application" id="application">
            <option value="live">Live - List stream on main page and don't record</option>
            <option value="rec">Rec - List stream on main page and record it</option>
            <option value="unlisted">Unlisted - Don't list stream on main page and don't record</option>
            <option value="recunlisted">Recunlisted - Don't list stream on main page and record</option>
        </select>

        <label for="streamname">name for the stream</label>
        <input type="text" name="streamname">

        <label for="password">stream source password</label>
        <input type="password" name="password">

        <button type="button" id="showconfig">show config</button>
    </form>
    </article>

    <article>
        <h1>OBS Configuration</h1>
        <p>go to Settings -> Stream to set up these parameters in OBS</p>
        <table>
          <tbody>
            <tr>
              <th>Parameter</th>
              <th>Setting</th>
            </tr>
            <tr>
                <td>Service</td>
                <td><em class="url">Custom...</em></td>
            </tr>
            <tr>
              <td>Server</td>
              <td><em class="url" id="server_url"></em></td>
            </tr>
            <tr>
              <td>Stream Key</td>
              <td><em class="url" id="stream_key"></em></td>
            </tr>
            <tr>
              <td>Use Authentication</td>
              <td><em class="url">off</em></td>
            </tr>
          </tbody>
        </table>
    </article>

    <article>
        <h1>User URLs</h1>
        <p>these are the URLs where other people can access your stream</p>
        <table>
          <tbody>
            <tr>
              <th>Type</th>
              <th>URL</th>
            </tr>
            <tr>
                <td>Web Player</td>
                <td><em class="url" id="play_web_url"></em></td>
            </tr>
            <tr>
              <td>FLV HTTP</td>
              <td><em class="url" id="play_flv_url"></em></td>
            </tr>
            <tr>
              <td>RTMP</td>
              <td><em class="url" id="play_rtmp_url"></em></td>
            </tr>
          </tbody>
        </table>
    </article>
</main>
<script type="text/javascript">
    function show_configuration() {
        settingsform = document.getElementById('settingsform')

        application = settingsform.elements['application'].value
        streamname = settingsform.elements['streamname'].value
        streampass = settingsform.elements['password'].value

        server = 'rtmp://{{ configuration["rtmp_base"] }}/' + application
        streamkey = streamname + '?pass=' + streampass
        webplayer_url = '{{ configuration['web_proto'] }}://{{ configuration['base_url'] }}/player/' + application + '/' + streamname
        flv_url = '{{ configuration['web_proto'] }}://{{ configuration['base_url'] }}/flv?app=' + application + '&stream=' + streamname
        rtmp_url = 'rtmp://{{ configuration['rtmp_base'] }}/' + application + '/' + streamname

        server_url_output = document.getElementById('server_url')
        stream_key_output = document.getElementById('stream_key')
        webplayer_url_output = document.getElementById('play_web_url')
        flv_url_output = document.getElementById('play_flv_url')
        rtmp_url_output = document.getElementById('play_rtmp_url')

        server_url_output.innerHTML = server
        stream_key_output.innerHTML = streamkey
        webplayer_url_output.innerHTML = webplayer_url
        flv_url_output.innerHTML = flv_url
        rtmp_url_output.innerHTML = rtmp_url
    }

    button = document.getElementById('showconfig')
    showconfig.addEventListener('click', show_configuration)
</script>
</body>
</html>