<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
        <title>{{ configuration['pagetitle'] }} - Stream Overview</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.default.css') }}">
    </head>
<body>
<header>
    <a href="{{ url_for('frontend.start') }}"><h1>{{ configuration["pagetitle"] }}</h1></a>
	<h2>{{ configuration["subtitle"] }}</h2>
</header>
<main>
    <article>
    <h1>
        Setup Helper
    </h1>
    <p>
        This tool should help you with the setup of OBS for use with zomstream
    </p>
    <form id="settingsform">
        <label for="application">selected application</label>
        <select name="application" id="application">
            <option value="live">Live - List stream on main page and don't record</option>
            <option value="rec">Rec - List stream on main page and record it</option>
            <option value="unlisted">Unlisted - Don't list stream on main page and don't record</option>
            <option value="recunlisted">Recunlisted - Don't list stream on main page and record</option>
        </select>

        <label for="streamname">name for the stream</label>
        <input type="text" pattern="[a-z0-9_]+" required=true name="streamname"
          placeholder="example: stream_name_23"
          title="should only include lowercase letters, numbers and _ characters">

        <label for="password">stream source password</label>
        <input type="password" pattern="[A-Za-z0-9!]+" name="password"
          placeholder="example: Passw0rd23"
          title="should only include upper- and lowercase characters and numbers">

        <button type="button" style="width: 100%; margin-left: 0px;" class="btn-large" onclick="show_configuration()" id="showconfig">show config</button>
    </form>
    </article>

    <article id="settings" >
        <h1>OBS Configuration</h1>
        <p>go to Settings -> Stream to set up these parameters in OBS</p>
        <table>
          <tbody>
            <tr>
              <th>Parameter</th>
              <th>Setting</th>
              <th class="btn"></th>
            </tr>
            <tr>
              <td>Service</td>
              <td><input type="text" class="url" value="Custom..." readonly></td>
              <td class="btn"></td>
            </tr>
            <tr>
              <td>Server</td>
              <td><input type="text" class="url" id="server_url" readonly></em></td>
              <td class="btn"><button class="btn" onclick="copy_to_clipboard('server_url')">Copy</button></td>
            </tr>
            <tr>
              <td>Stream Key</td>
              <td><input type="text" class="url" id="stream_key" readonly></em></td>
              <td class="btn"><button class="btn" onclick="copy_to_clipboard('stream_key')">Copy</button></td>
            </tr>
            <tr>
              <td>Use Authentication</td>
              <td><input type="text" class="url" value="off" readonly></td>
            </tr>
          </tbody>
        </table>
    </article>

    <article id="userurls">
        <h1>User URLs</h1>
        <p>these are the URLs where other people can access your stream</p>
        <table>
          <tbody>
            <tr>
              <th>Type</th>
              <th>URL</th>
              <th class="btn"></th>
            </tr>
            <tr>
                <td>Web Player</td>
                <td><input type="text" class="url" id="play_web_url" readonly></td>
                <td class="btn"><button class="btn" onclick="copy_to_clipboard('play_web_url')">Copy</button></td>
            </tr>
            <tr>
              <td>FLV HTTP</td>
              <td><input type="text" class="url" id="play_flv_url" readonly></td>
              <td class="btn"><button class="btn" onclick="copy_to_clipboard('play_flv_url')">Copy</button></td>
            </tr>
            <tr>
              <td>RTMP</td>
              <td><input type="text" class="url" id="play_rtmp_url" readonly></td>
              <td class="btn"><button class="btn" onclick="copy_to_clipboard('play_rtmp_url')">Copy</button></td>
            </tr>
          </tbody>
        </table>
    </article>
</main>
<script type="text/javascript">
    document.getElementById('settings').hidden = true;
    document.getElementById('userurls').hidden = true;

    function copy_to_clipboard(elem) {
      textfield = document.getElementById(elem)
      textfield.select()
      navigator.clipboard.writeText(textfield.value)
    }

    function show_configuration() {
        settingsform = document.getElementById('settingsform')

        if (!settingsform.checkValidity()){
          settingsform.reportValidity();
          return;
        }
        document.getElementById('settings').hidden = false;
        document.getElementById('userurls').hidden = false;
        application = settingsform.elements['application'].value
        streamname = settingsform.elements['streamname'].value
        streampass = settingsform.elements['password'].value
        server = 'rtmp://{{ configuration["rtmp_base"] }}/' + application
        streamkey = streamname + '?pass=' + streampass
        webplayer_url = '{{ configuration['web_proto'] }}://{{ configuration['base_url'] }}/player/' + application + '/' + streamname
        flv_url = '{{ configuration['web_proto'] }}://{{ configuration['base_url'] }}/flv?app=' + application + '&stream=' + streamname
        rtmp_url = 'rtmp://{{ configuration['rtmp_base'] }}/' + application + '/' + streamname

        server_url_output = document.getElementById('server_url')
        stream_key_output = document.getElementById('stream_key')
        webplayer_url_output = document.getElementById('play_web_url')
        flv_url_output = document.getElementById('play_flv_url')
        rtmp_url_output = document.getElementById('play_rtmp_url')

        server_url_output.value = server
        stream_key_output.value = streamkey
        webplayer_url_output.value = webplayer_url
        flv_url_output.value = flv_url
        rtmp_url_output.value = rtmp_url
    }
</script>
</body>
</html>
